* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 7px 7px 20px 0px black;
  width: 40%;
  height: 70%;
}
.card-container {
  width: 70%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  margin-top: 1rem;
}

.person-info {
  padding: 0 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.prev-btn,
.next-btn {
  border-style: none;
  background: transparent;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 1rem;
  cursor: pointer;
}

.prev-btn:hover {
  color: red;
}

.next-btn:hover {
  color: red;
}

.random-btn {
  height: 2rem;
  width: 7rem;
  display: block;
  border-radius: 7px;
  background-color: red;
  color: white;
  text-transform: uppercase;
  border-style: none;
  margin-top: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 3px 3px 10px 0px black;
}
.random-btn:hover {
  background-color: white;
  color: red;
  box-shadow: 0px 0px 10px 0px black;
}
